<!DOCTYPE html>
<html>
    <body>
        <section class="header">
            <nav>
                <a href="https://github.com/tanayp327/Quintic5"><img src ="images/logo.png"></a>
                <div class="nav-links">
                    <ul>
                        <li><a href="{{ site.baseurl }}/lesson.html">Lesson Plan</a></li>
                        <li><a href="{{ site.baseurl }}/video.html">Getting Started</a></li>
                        <li class="dropdown">
                            <a href="javascript:void(0)" class="dropbtn">API</a>
                            <div class="dropdown-content">
                                <a href="{{ site.baseurl }}/snake">CITY</a>
                                <a href="{{ site.baseurl }}/exercises.html">EXERCISES</a>
                                <a href="{{ site.baseurl }}/snakeblog.html">MOVIES</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
        </section>
    </body>
</html>